.card {
    background-color: rgba(101, 67, 33, 0.57); /* Color de fondo oscuro */
    color: rgb(237, 216, 80); /* Texto blanco */
    text-shadow: 2px 2px 1px black;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    border: 1px dashed brown;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);

}

/* Estilos específicos para los elementos dentro de la tarjeta */
.card h2 {
    margin: 5px 0; /* Margen para los títulos */
    text-Shadow: "3px 3px 3px #000000";
}

.card h2:first-child {
    margin-top: 0; /* Elimina el margen superior del primer título */
    text-Shadow: "3px 3px 3px #000000";
}
.card h1 {
    margin: 5px 0; /* Margen para los títulos */
    text-Shadow: "3px 3px 3px #000000";
}

.card h1:first-child {
    margin-top: 0; /* Elimina el margen superior del primer título */
    text-Shadow: "3px 3px 3px #000000";
}
